.width {
  width: 74%; }

.marginNull {
  margin: 0 auto; }

.navigation {
  background-color: #F7F7F7; }
  .navigation hr {
    margin: 0; }

.ubUsSection {
  padding: 40px 0;
  background-color: #F7F7F7; }
  .ubUsSection .adressMessage {
    width: 74%;
    margin: 0 auto; }
    .ubUsSection .adressMessage .leftPanel {
      padding: 0;
      display: inline-block;
      float: left; }
      .ubUsSection .adressMessage .leftPanel .infoPanel {
        padding-bottom: 20px; }
        .ubUsSection .adressMessage .leftPanel .infoPanel .col-md-2 {
          text-align: center;
          display: inline-block;
          float: left; }
        .ubUsSection .adressMessage .leftPanel .infoPanel .col-md-10 {
          padding-left: 35px;
          display: inline-block;
          float: right; }
          .ubUsSection .adressMessage .leftPanel .infoPanel .col-md-10 hr {
            margin: 0; }
    .ubUsSection .adressMessage .rightPanel {
      display: inline-block;
      padding: 0; }
      .ubUsSection .adressMessage .rightPanel .container {
        padding: 0;
        width: 100%;
        margin: 0 auto; }
      .ubUsSection .adressMessage .rightPanel #contact input[type="text"], .ubUsSection .adressMessage .rightPanel #contact input[type="email"], .ubUsSection .adressMessage .rightPanel #contact input[type="tel"], .ubUsSection .adressMessage .rightPanel #contact input[type="url"], .ubUsSection .adressMessage .rightPanel #contact textarea, .ubUsSection .adressMessage .rightPanel #contact button[type="submit"] {
        font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }
      .ubUsSection .adressMessage .rightPanel fieldset {
        border: medium none !important;
        margin: 0 0 10px;
        min-width: 100%;
        padding: 0;
        width: 100%; }
      .ubUsSection .adressMessage .rightPanel #contact input[type="text"], .ubUsSection .adressMessage .rightPanel #contact input[type="email"], .ubUsSection .adressMessage .rightPanel #contact input[type="tel"], .ubUsSection .adressMessage .rightPanel #contact input[type="url"], .ubUsSection .adressMessage .rightPanel #contact textarea {
        width: 100%;
        border: 1px solid #CCC;
        background: #FFF;
        margin: 0 0 5px;
        padding: 10px; }
      .ubUsSection .adressMessage .rightPanel #contact input[type="text"]:hover, .ubUsSection .adressMessage .rightPanel #contact input[type="email"]:hover, .ubUsSection .adressMessage .rightPanel #contact input[type="tel"]:hover, .ubUsSection .adressMessage .rightPanel #contact input[type="url"]:hover, .ubUsSection .adressMessage .rightPanel #contact textarea:hover {
        -webkit-transition: border-color 0.3s ease-in-out;
        border: 1px solid #AAA; }
      .ubUsSection .adressMessage .rightPanel #contact textarea {
        height: 100px;
        max-width: 100%;
        resize: none; }
      .ubUsSection .adressMessage .rightPanel #contact button[type="submit"] {
        cursor: pointer;
        width: 100%;
        border: none;
        background: #0CF;
        color: #FFF;
        margin: 0 0 5px;
        padding: 10px;
        font-size: 15px; }
      .ubUsSection .adressMessage .rightPanel #contact button[type="submit"]:hover {
        background: #09C;
        -webkit-transition: background 0.3s ease-in-out;
        -moz-transition: background 0.3s ease-in-out;
        transition: background-color 0.3s ease-in-out; }
      .ubUsSection .adressMessage .rightPanel #contact button[type="submit"]:active {
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); }
      .ubUsSection .adressMessage .rightPanel #contact input:focus, .ubUsSection .adressMessage .rightPanel #contact textarea:focus {
        outline: 0;
        border: 1px solid #999; }
      .ubUsSection .adressMessage .rightPanel ::-webkit-input-placeholder {
        color: #888; }
      .ubUsSection .adressMessage .rightPanel :-moz-placeholder {
        color: #888; }
      .ubUsSection .adressMessage .rightPanel ::-moz-placeholder {
        color: #888; }
      .ubUsSection .adressMessage .rightPanel :-ms-input-placeholder {
        color: #888; }
  .ubUsSection .mapPanel {
    margin: 0 auto;
    padding: 10px; }

.footerSection {
  padding: 10px 0 10px 0;
  background-color: #2A2A2A;
  color: #999999; }
  .footerSection .boxes {
    margin: 0 auto; }
    .footerSection .boxes .col-md-6 {
      float: left;
      display: inline-block;
      padding-top: 30px; }
    .footerSection .boxes .right {
      text-align: right; }

/*# sourceMappingURL=aboutusstyle.css.map */
